
body {
	margin: 0px; padding: 0px;
	background: #eee;
}

.size_76{
	width: 100%;
	text-align: center;
}


.shadow {
  -moz-box-shadow:    2px 2px 3px 3px #ccc;
  -webkit-box-shadow: 2px 2px 3px 3px #ccc;
  box-shadow:         2px 2px 3px 3px #ccc;
}

div{
	width: 100%; height: 900px;
}
/** **/
#personal_me{
	width: 29%; position: left; height: 100%;
	float: left; margin: 0.5%;
	background: #FFF;
}

.img-container{
	width: 100%; height: 350px;
}

.img2{
	width: 240px; height: 300px;
	margin:15% 15% 1% 15%; border-radius: 5px;
}

#art1{
	width: 100%; height: 500px;
}

#art1 p{
	text-align: justify; margin-left: 15%;
	margin-right: 15%;
}

h2, .small-conta h3, .part1 h4{
	text-align: center;
	margin-bottom: 2px;
	font-family: 'Inconsolata', monospace;
}

/** End **/

#navi{
	width: 8%; margin: 0.5%;
	height: 100%; background: #eee;
	float: left;
}

/** Navigation Bar **/
ul{
	list-style: none; width: 8%;
	height: 100%; overflow: auto; margin: 0px;
	padding: 0px; float: left; position: fixed;
}

li a {
	display: block; color: #000; padding: 8px 16px;
	text-decoration: none; text-align: center;
}

li a.active {
	background-color: #0066ff;
	color: white;
}

li a:hover:not(.active){
	background-color: #555; color: white;
}
/** End **/

/** About Me -Section**/
#section1{
	width: 60%; height: 100%; margin: 0.5%;
	background-color: #fff; float: left;
	color: #000; text-align: center;
}

#back1{
	width: 99%; height: 150px; margin: 0.4%;
	background-image: url('Image/back1.jpg');
	background-size: 100%; color: #FFF;
    background-position: left top;

}

 #back1 hr{
	margin-left: 30%; margin-right: 30%;
}

#about_me{
	width: 99%; height: 300px; margin: 0.4%;
	text-align: justify; background: #ccc;
	float: left; background-image: url('Image/img1.jpg');
	color: #FFF;
}

#about_me p{
	margin-left: 10%; margin-right: 10%;
}

/** SOcial Media Buttons  **/
#social-media{
	width: 40%; height: 20px; margin-right: 30%;
	margin-left: 30%;
}

.fa {
  padding: 20px 6px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/** End **/

/** Skill **/
#skill-set{
	width: 99%; height: 430px; margin: 0.4%;
	 background: #ccc;
	float: left;
	box-sizing: border-b
}
#skill-set p{margin: 1px;}

.small-conta{
	background-color: #3c3c3c; width: 40%; height: 350px;
	float: left; margin: 0.7%; color: #FFF;
	text-align: left; border-radius: 15px 95px 0px;
}
.part1{
	width: 70%; height: 125px;
	 margin-left: 15%; margin-bottom: 2%;
	float: left; margin-right: 15%;
}

#part2{
	width: 70%; height: 75px;
	margin-left: 15%; 
	float: left;  margin-right: 15%; margin-top: 2%;
}

#left-conta{
	margin-left: 10%;
}

.container {
  width: 100%;
  background-color: #ddd;
  max-height: 14px;
  border-radius: 15px 95px 0px;
}

.skills {
  text-align: right;
  padding-right: 10px;
  line-height: 14px;
  color: white; max-height: 14px;
  border-radius: 15px 95px 0px;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 75%; background-color: #2196F3;}
.js {width: 45%; background-color: #ffa500;}
.mySQL {width: 45%; background-color: #ffa500;}
.java {width: 20%; background-color: #f44336;}
.php {width: 10%; background-color: #808080;}

.spanish, .micro {width: 100%; background-color: #4CAF50;}
.eng {width: 80%; background-color: #2196F3;}
/** End **/

