body {
	margin: 0px; padding: 0px;
}

p{
	color: red; font-style: italic;
}

h1{
	font-family: courier; text-align: center;
}

div{
	background-color: blue; display: block; color: white;
}

#project{
	background-color: red; color: white;
	margin: 150px;
}

.favorite{
	background-color: #eee; color:white;
}