body {
	margin: 0px; padding: 0px;
	background: #eee;
}

.size_76{
	width: 100%;
	text-align: center;
}

.test_font{
		font-family: 'Saira Extra Condensed', sans-serif;
	}

.shadow {
  -moz-box-shadow:    2px 2px 3px 3px #ccc;
  -webkit-box-shadow: 2px 2px 3px 3px #ccc;
  box-shadow:         2px 2px 3px 3px #ccc;
}

div{
	width: 100%; height: 900px;
}
/** **/
#personal_me{
	width: 29%; position: left; height: 100%;
	float: left; margin: 0.5%;
	background: #FFF;
}

.img-container{
	width: 100%; height: 350px;
}

.img2{
	width: 240px; height: 300px;
	margin:15% 15% 1% 15%; border-radius: 5px;
}

#art1{
	width: 100%; height: 500px;
}

#art1 p{
	text-align: justify; margin-left: 15%;
	margin-right: 15%;
}

h2{
	text-align: center;
	margin-bottom: 1px;
}

/** End **/

#navi{
	width: 8%; margin: 0.5%;
	height: 100%; background: #eee;
	float: left;
}

/** Navigation Bar **/
ul{
	list-style: none; width: 8%;
	height: 100%; overflow: auto; margin: 0px;
	padding: 0px; float: left; position: fixed;
}

li a {
	display: block; color: #000; padding: 8px 16px;
	text-decoration: none; text-align: center;
}

li a.active {
	background-color: #0066ff;
	color: white;
}

li a:hover:not(.active){
	background-color: #555; color: white;
}
/** End **/

/** About Me -Section**/
#section1{
	width: 60%; height: 100%; margin: 0.5%;
	background-color: yellow; float: left;
	color: #FFF; text-align: center;
}

#back1{
	width: 99%; height: 150px; margin: 0.4%;
	background-image: url('Image/back1.jpg');
	background-size: 100%;
    background-position: left top;
    margin-top: 30px;
}

hr{
	margin-left: 35%; margin-right: 35%;
}

#img3{
	height: 120px;
    width: 100px;
}

