body {
	margin: 0px; padding: 0px;
}

/** Navigation Bar **/
ul{
	list-style: none; width: 25%; position: fixed;
	height: 100%; overflow: auto; margin: 0px;
	padding: 0px;
}

li a {
	display: block; color: #000; padding: 8px 16px;
	text-decoration: none;
}

li a.active {
	background-color: #0066ff;
	color: white;
}

li a:hover:not(.active){
	background-color: #555; color: white;
}
/** End **/

/** About Me -Section**/




