body {
	margin: 0px; padding: 0px;
}

/** Navigation Bar **/
ul{
	list-style: none; width: 30%; position: fixed;
	height: 100%; overflow: auto; margin: 0px;
	padding: 0px;
}

li a {
	display: block; color: #000; padding: 8px 16px;
	text-decoration: none;
}

li a.active {
	background-color: #0066ff;
	color: white;
}

li a:hover:not(.active){
	background-color: #555; color: white;
}
/** End **/

/** About Me -Section**/
#section1{
	width: 70%; height: 500px;
	background-color: yellow; float: right;
}

.info-me{
	width: 35%; height: 400px;
	float: left; background-color: red;
}

#img1{
	width: 300px; height: 400px; margin: auto;
	background-color: black; display: block;
}

#text1{
	margin: auto; width: 300px; height: 200px;
	background-color: #eee; display: block;
}


